[DesktopEntry]
Name=Hello Kitty Y2K
Comment=Glossy bubbly Y2K Hello Kitty window decorations with glass effects
X-KDE-PluginInfo-Author=pretty-girl
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=HelloKittyY2K
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
